.root {
    -fx-background-color: #455a64;
}

#expand-button {
    -fx-background-color: transparent;
    -fx-background-image: url("media/expand-button.png");
    -fx-background-radius: 25px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-max-width: 50px;
    -fx-stroke-width: 0px;
}

#expand-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.38), 15, 0.3, 0, 5);
    -fx-background-color: transparent;
}

#right-pane {
    -fx-background-color: #d5d5d5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.23),28,0.4,0,0);
}

#elite-button {
    -fx-background-color: transparent;
    -fx-graphic: url("media/elite-logo.png");
}
